[class^="vms_fi_"], [class*=" vms_fi_"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.vms_fi_name {
  font-size: 32px;
  color: red;
}
========================================== */

.vms_fi_editor7042-48 {
  width: 0.9599609375em;
}

.vms_fi_editor7043-48 {
  width: 0.9599609375em;
}

.vms_fi_editor7044-48 {
  width: 0.9599609375em;
}

.vms_fi_editor7045-48 {
  width: 0.857421875em;
}

.vms_fi_editor7046-48 {
  width: 0.857421875em;
}

.vms_fi_editor7047-48 {
  width: 0.857421875em;
}
